language: rust
sudo: false
matrix:
  include:
    - rust: stable
    - rust: beta
    - rust: nightly
      env:
       - FEATURES='assign_ops rustc-serialize'
       - BENCH=1
branches:
  only:
    - master
    - 0.2
script:
  - |
      cargo build --verbose &&
      cargo test --verbose &&
      ([ -z "$FEATURES" ] || cargo build --verbose --features "$FEATURES") &&
      ([ -z "$FEATURES" ] || cargo test --verbose --features "$FEATURES") &&
      ([ "$BENCH" != 1 ] || cargo bench --verbose --features "$FEATURES")
