[package]

name = "ndarray"
version = "0.6.0"
authors = ["bluss"]
license = "MIT/Apache-2.0"

repository = "https://github.com/bluss/rust-ndarray"
documentation = "https://bluss.github.io/rust-ndarray/"

description = "An N-dimensional array for general elements and for numerics. Lightweight array views and slicing; views support chunking and splitting."

keywords = ["array", "data-structure", "multidimensional", "matrix", "blas"]

build = "build.rs"

[lib]
name = "ndarray"
bench = false
test = false

[dependencies.num-traits]
version = "0.1.32"
default-features = false

[dependencies.num-complex]
version = "0.1.32"
default-features = false

[dependencies.itertools]
version = "0.4.15"

[dependencies.rustc-serialize]
version = "0.3.16"
optional = true

[dependencies]
# Use via the `blas` crate feature!
blas-sys = { version = "0.6.3", optional = true, default-features = false }
matrixmultiply = { version = "0.1.8" }

[features]
blas = ["blas-sys"]

# These features are used for testing
blas-openblas-sys = ["blas"]
test = ["blas-openblas-sys", "rustc-serialize"]

# This feature is used for docs
docs = ["rustc-serialize"]

[profile.release]
[profile.bench]
debug = true
