[package]

name = "ndarray"
version = "0.4.4"
authors = ["bluss"]
license = "MIT/Apache-2.0"

repository = "https://github.com/bluss/rust-ndarray"
documentation = "http://bluss.github.io/rust-ndarray/"

description = "An N-dimensional array for general elements and for numerics. Lightweight array views and slicing; views support chunking and splitting."

keywords = ["array", "data-structure", "multidimensional", "matrix", "blas"]

build = "build.rs"

[lib]
name = "ndarray"
bench = false
test = false

[build-dependencies]
rustc_version = "0.1.3"

[dependencies.num]
version = "0.1.30"
features = ["complex"]
default-features = false

[dependencies.itertools]
version = "0.4.6"

[dependencies.rustc-serialize]
version = "0.3.16"
optional = true

[dependencies]
# Use via the `blas` crate feature!
blas-sys = { version = "0.5", optional = true, default-features = false }
openblas-provider = { version = "0.3", optional = true, default-features = false }

# deprecated! use ndarray-rblas instead
rblas = { version = "0.0.13", optional = true }

[features]
# deprecated! Will be default
assign_ops = []

blas = ["blas-sys"]
blas-openblas-sys = [
    "blas",
    "blas-sys/openblas",
    "openblas-provider/system-openblas",
]

# This feature is used for testing
test = ["blas-openblas-sys", "rustc-serialize"]

[profile.release]
[profile.bench]
debug = true
