[package]
name = "ndarray-rand"
version = "0.11.0"
edition = "2018"
authors = ["bluss"]
license = "MIT/Apache-2.0"

repository = "https://github.com/rust-ndarray/ndarray"
documentation = "https://docs.rs/ndarray-rand/"
readme = "README.md"

description = "Constructors for randomized arrays. `rand` integration for `ndarray`."

keywords = ["multidimensional", "matrix", "rand", "ndarray"]

[dependencies]
ndarray = { version = "0.13", path = ".." }
rand_distr = "0.2.1"
quickcheck = { version = "0.9", default-features = false, optional = true }

[features]
normaldist = ["ndarray-linalg"]

[dependencies.ndarray-linalg]
version = "0.11"
optional = true
features = ["openblas"]

[dependencies.rand]
version = "0.7.0"
features = ["small_rng"]

[dev-dependencies]
rand_isaac = "0.2.0"
quickcheck = { version = "0.9", default-features = false }

[package.metadata.release]
no-dev-version = true
tag-name = "ndarray-rand-{{version}}"

