
<style>
.docblock pre.rust { background: #f5f5ff; }
pre.trait, pre.macro, pre.fn, pre.struct, pre.enum, pre.typedef, pre.const { background: inherit; }

/* Small “example” label for doc examples */
.docblock pre.rust::before {
    content: "example";
    float: right;
    font-style: italic;
    font-size: 0.8em;
    margin-top: -10px;
    margin-right: -5px;
}


.docblock code {
    background-color: inherit;
    font-weight: bold;
    padding: 0 0.1em;
}

.docblock-short code {
    background-color: inherit;
    font-weight: normal;
    padding: 0 0.1em;
}

</style>
